body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    margin: auto;
}
button{
    font-size: 100%;
    padding: 1em;
    border-bottom: solid 5px black;
}
.container{
    right: 0px;
    width: 70%;
    height:auto;
    min-height: 800px;
    display: block;
    margin: auto auto auto 200px;
    overflow-y: scroll;
}
.menu{
    position: fixed;
    left: 0px;
    width: 200px;
    background-color: #ffffffaa;
}
#p5Sketch{
    position: relative;
    display: block;
    margin: auto;
    min-width: 250px;
    height: 80%;
    width: auto;
}