body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 70%;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    margin: auto;
}
button{
    padding: 0.7em;
    border: solid 3px black;
    margin: 5px
}
.container{
    right: 0px;
    width: 70%;
    height:auto;
    min-height: 800px;
    display: block;
    margin: auto auto auto 200px;
}
.menu{
    position: fixed;
    left: 0px;
    width: 200px;
    background-color: #ffffffaa;
    padding: 5px;
}
#p5Sketch{
    position: relative;
    display: block;
    margin: auto;
    min-width: 250px;
    height: 80%;
    width: auto;
}